<html>
<head>
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>

</head>
<body>
<H1>Price History</H1>

<form action="/">
<select name="ticker">
	{% for ticker in tickers %}
		{% if ticker == current_ticker %}
			<option selected value="{{ ticker }}">{{ ticker }}</option> 
		{% else %} 
			<option value="{{ ticker }}">{{ ticker }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>

{{ script|safe }}
{{ div|safe }}


</body>
</html>